.card {
  width: 340px;
  min-height: 95px;
  max-height: fit-content;
  padding: 10px 10px 12px 10px;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  display: inline-block;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.card:hover::after {
  opacity: 1;
}

.card h3 {
  margin-bottom: 5px;
}

.showBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: rgb(67, 168, 231);
}

.showBtn:hover {
  color: rgb(67, 67, 222);
}

.showBtn:active .card {
  transform: scaleY(auto);
}

.author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

@media screen and (max-width : 410px) {
  .card {
    width: 240px;
    justify-content: center;
  }
}